{
	"presets": ["babel-preset-expo"],
	"env": {
		"development": {
			"plugins": ["transform-react-jsx-source"]
		}
	},
	"plugins": [
		"graphql-tag",
		[
			"module-alias",
			[
				{ "src": "./src/components/navigations", "expose": "@navigations" },
				{ "src": "./src/components/utils", "expose": "@utils" },
				{ "src": "./src/components/screens", "expose": "@screens" },
				{ "src": "./assets/icons", "expose": "@icons" },
				{ "src": "./assets/images", "expose": "@images" }
			]
		]
	]
}
