{
	"presets": ["react-native", "babel-preset-react-native-stage-0/decorator-support"],
	"plugins": [
		"graphql-tag",
		"transform-react-jsx-source",
		[
			"babel-plugin-module-alias",
			[
				{ "src": "./src/components/commons", "expose": "@commons" },
				{ "src": "./src/components/utils", "expose": "@utils" },
				{ "src": "./src/components/screens", "expose": "@screens" },
				{ "src": "./src/constants", "expose": "@constants" },
				{ "src": "./assets/icons", "expose": "@icons" },
				{ "src": "./assets/images", "expose": "@images" }
			]
		]
	]
}
